html{
    font-family: "Edu NSW ACT Hand Pre", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}


.menu-flexbox{
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


#logo{
   border: solid black;
   border-radius: 50%;
    height: 6rem;
    margin-top: 3rem;
 
    

}

.liens{
    display: flex;
    gap:1rem;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

#main-picture{
    height: 32rem;
    display: flex;
    margin: auto;

}
.cards{
    display: flex;
    justify-content: space-between;
    
}

.card{
    
    margin-top: 7rem;
    margin-bottom: 3rem;

}
.tile-image1{
    height: 20rem;    
    float: left;
    padding: 1rem;
    width: 20rem;   
}
.tile-image2{
    height: 20rem;    
    float: left;
    padding: 1rem;
    width: 20rem;   
}
p{
    width: 45rem;
}

@media (max-width:1250px){
    .menu-flexbox{
        flex-direction: column;
        height: auto;
    }
    #logo{
        transform: scale(1.2);
        margin-bottom: 2rem;
    }
    .liens{
     gap:2rem;
    }

    #main-picture{
        object-fit: contain;
        width: 80%;
        margin-top: 0rem;
    }
    .cards{
        flex-direction: column;
        height: auto;
    }
    .card{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    }

    .tile-image1{
        object-fit: contain;
        width: 80%;
        margin: auto;
        height: auto;
        flex: none;
    }
    .tile-image2{
        object-fit: contain;
        width: 80%;
        margin: auto;
        height: auto;
        flex: none;
    }    

}












footer{
    clear:both;
    margin-top: 5rem;
    text-align: center;
}

